.weather {
  margin-bottom: 5px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form {
  margin-top: 10px;
  margin-bottom: 5px;
}

.search-bar {
  margin-right: 40px;
}

.icon-and-temp {
  margin-bottom: 10px;
}

img {
  float: left;
  margin-left: 15px;
  height: 64px;
  margin-right: 10px;
  width: 64px;
}

.temperature {
  font-weight: bold;
  float: left;
  line-height: 64px;
  font-size: 50px;
}

.unit {
  float: left;
  margin-top: 8px;
  margin-left: 5px;
}
